.navbar-custom {
    /* background-color: #5b2654; */
    /* background: linear-gradient(to bottom right,rgba(89,38,81,1), rgba(89,38,81,1), rgba(165,63,91,0.8)) !important; */
    background: linear-gradient(to bottom right,rgba(89,38,81,1),  rgba(165,63,91,1)) !important;
    
    padding: 0.8rem;
  }
  .navbar-custom .navbar-brand {
    color: #ffffff;
    padding: 0rem;
    font-size: 2rem;
  }
  .navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus {
  color: #ffffff;
}
.navbar-custom .navbar-text {
  color: #cecece;
}
.navbar-custom .navbar-text a {
  color: #ffffff;
}
.navbar-custom .navbar-text a:hover,
.navbar-custom .navbar-text a:focus {
  color: #ffffff; 
}
.navbar-custom .navbar-nav .nav-link {
  color: #cecece;
  border-radius: .25rem;
  margin: 0 0.25em;
}
.navbar-custom .navbar-nav .nav-link:not(.disabled):hover,
.navbar-custom .navbar-nav .nav-link:not(.disabled):focus {
  color: #ffffff;
}
.navbar-custom .navbar-nav .nav-item.active .nav-link,
.navbar-custom .navbar-nav .nav-item.active .nav-link:hover,
.navbar-custom .navbar-nav .nav-item.active .nav-link:focus,
.navbar-custom .navbar-nav .nav-item.show .nav-link,
.navbar-custom .navbar-nav .nav-item.show .nav-link:hover,
.navbar-custom .navbar-nav .nav-item.show .nav-link:focus {
  color: #ffffff;
  background-color: #a53f5b;
}
.navbar-custom .navbar-toggle {
  border-color: #a53f5b;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
  background-color: #a53f5b;
}
.navbar-custom .navbar-toggle .navbar-toggler-icon {
  color: #cecece;
}
.navbar-custom .navbar-collapse,
.navbar-custom .navbar-form {
  border-color: #cecece;
}
.navbar-custom .navbar-link {
  color: #cecece;
}
.navbar-custom .navbar-link:hover {
  color: #ffffff;
}

@media (max-width: 575px) {
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #cecece;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #ffffff;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #ffffff;
    background-color: #a53f5b;
  }
}

@media (max-width: 767px) {
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #cecece;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #ffffff;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #ffffff;
    background-color: #a53f5b;
  }
}

@media (max-width: 991px) {
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #cecece;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #ffffff;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #ffffff;
    background-color: #a53f5b;
  }
}

@media (max-width: 1199px) {
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #cecece;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #ffffff;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #ffffff;
    background-color: #a53f5b;
  }
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
  color: #cecece;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
  color: #ffffff;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
  color: #ffffff;
  background-color: #a53f5b;
}

* {
    font-family: Helvetica, sans-serif;
}

.div-main {
    /* padding-top: 8rem; */
    padding-block-start: 2rem;
    padding-block-end: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: #ffffff;
}
.div-top-pad {
  /* padding-top: 8rem; */
  padding: 3rem;

  /* padding-left: 5rem;
  padding-right: 5rem; */
  background-color: rgba(18, 3, 29, 0);
}

.psychefooter {
    /* background: linear-gradient(to bottom right,  rgba(165,63,91,0.8), rgba(165,63,91,0.9), rgba(89,38,81,1), rgba(89,38,81,1)) !important; */
    background: linear-gradient(to bottom right,  rgba(165,63,91,1),  rgba(89,38,81,1)) !important;
    
    padding: 1rem;
    color: #ffffff;
}

.body{
    background-color: rgba(18, 3, 29, 0.75);
}

.lighttext a{
  color: white;
  text-decoration: none;
  font-weight: bold;
}