.navbar {
    /* background-color: #ffffff; */
    /* background: linear-gradient(to top right,rgba(250,250,250,1), rgba(250,250,250,1),rgba(245,125,50,.9), rgba(245,125,50,1)) !important; */
    background: white;
    /* background-color: #ffffff; */
    padding: 0.8rem;

  }
  .navbar .navbar-brand {
    color: #302144;
    padding: 0rem;
    font-size: 2rem;
  }
  .navbar .navbar-brand:hover,
  .navbar .navbar-brand:focus {
    color: #a53f5b;
    padding: 0rem;
    font-size: 2rem;
    font-weight: bold;
  }
  .navbar .navbar-text {
    color: #592651;
  }
  .navbar .navbar-text a {
    color: #592651;
    /* color: #f9a000 */
    font-weight: bold;
  }
  .navbar .navbar-text a:hover,
  .navbar .navbar-text a:focus {
    color: #a53f5b; 
    text-decoration: none;
  }
  .navbar .navbar-nav .nav-link {
    color:   rgba(48,33,68,1);
    border-radius: .25rem;
    margin: 0 0.25em;
  }
  .navbar .navbar-nav .nav-link:not(.disabled):hover,
  .navbar .navbar-nav .nav-link:not(.disabled):focus {
    color: #a53f5b;
  }
  .navbar .navbar-nav .nav-item.active .nav-link,
  .navbar .navbar-nav .nav-item.active .nav-link:hover,
  .navbar .navbar-nav .nav-item.active .nav-link:focus,
  .navbar .navbar-nav .nav-item.show .nav-link,
  .navbar .navbar-nav .nav-item.show .nav-link:hover,
  .navbar .navbar-nav .nav-item.show .nav-link:focus {
    color: #a53f5b;
    background-color: #f47c33;
  }
  .navbar .navbar-toggle {
    border-color: #f47c33;
  }
  .navbar .navbar-toggle:hover,
  .navbar .navbar-toggle:focus {
    background-color: #f47c33;
  }
  .navbar .navbar-toggle .navbar-toggler-icon {
    color: #302144;
  }
  .navbar .navbar-collapse,
  .navbar .navbar-form {
    border-color: #302144;
  }
  .navbar .navbar-link {
    color: #302144;
  }
  .navbar .navbar-link:hover {
    color: #ffffff;
  }
  
  @media (max-width: 575px) {
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
      color: #302144;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #ffffff;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
      color: #ffffff;
      background-color: #f47c33;
    }
  }
  
  @media (max-width: 767px) {
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
      color: #302144;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #ffffff;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
      color: #ffffff;
      background-color: #f47c33;
    }
  }
  
  @media (max-width: 991px) {
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
      color: #302144;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #ffffff;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
      color: #ffffff;
      background-color: #f47c33;
    }
  }
  
  @media (max-width: 1199px) {
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
      color: #302144;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #ffffff;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
      color: #ffffff;
      background-color: #f47c33;
    }
  }
  
  .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #302144;
  }
  .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #ffffff;
  }
  .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #ffffff;
    background-color: #f47c33;
  }



* {
    font-family: Helvetica, sans-serif;
}

.div-main {
    /* padding-top: 8rem; */
    padding-block-start: 3rem;
    padding-block-end: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: #ffffff;
    /* background-color: rgb(244, 231, 250); */

}
.div-top-pad {
  /* padding-top: 8rem; */
  padding: 3rem;

  /* padding-left: 5rem;
  padding-right: 5rem; */
  background-color: rgba(18, 3, 29, 0);
}

.psychefooter {
    /* background: linear-gradient(to bottom right,  rgba(165,63,91,0.8), rgba(165,63,91,0.9), rgba(89,38,81,1), rgba(89,38,81,1)) !important; */
    /* background: linear-gradient(to bottom right,  rgba(165,63,91,1),  rgba(89,38,81,1)) !important; */
    /* background: linear-gradient(to  right,rgba(250,250,250,1), rgba(250,250,250,1),rgba(245,125,50,.8), rgba(245,125,50,1)) !important; */
    /* background: linear-gradient(to  right,rgba(250,250,250,1), rgba(250,250,250,1), rgba(48,33,68,1), rgba(18,3,29,1)) !important; */

    padding: 0rem;
    /* color: #a53f5b; */
    background: rgba(250,250,250,0) !important;
    position: relative;

}

.body{
    /* background-color: rgba(18, 3, 29, 0.25); */
    /* background-color: rgb(244, 231, 250); */
    /* background: linear-gradient(to  right,rgba(250,250,250,1), rgba(250,250,250,1), rgba(48,33,68,1), rgba(18,3,29,1)) !important; */
  background-image: url("/images/SVG/sunburst.svg");
  background-size: cover;
}

.top-links a{
    color: #302144;
    text-decoration: none;
    font-weight: bold;
  }

.top-links a:hover{
    color: #a53f5b;
}

.teleback{
    background-color: #302144;
    fill: #ef5966;
    fill: #fff;
  }



