<link rel='stylesheet' href='/stylesheets/navbar.css' />
<nav class="navbar fixed-top navbar-expand navbar-dark" style="background-color: #000000;">
  <div class="navbar-brand">
    <img class="mr-2" src="/images/logos/nasa-logo-web-rgb.png" id="nasa-logo" width="30" height="30"  class="pl-0 ml-0" alt="NASA Logo">
    <img src="/images/logos/Psyche_BadgeSolid_Color-PNG.png" id="psyche-logo" width="30" height="30" alt="Psyche Mission Logo">
  </div>
  <div class="collapse navbar-collapse">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="/">Home</a>
      <a class="nav-item nav-link" href="/database">Database</a>
      <a class="nav-item nav-link" href="/panel">Panel</a>
      <a class="nav-item nav-link" href="/data-entry">Data Entry</a>
      <a class="nav-item nav-link" href="/help">Help</a>
    </div>
  </div>
  <a id="profile" href="/profile" class="btn btn-outline-light">Account</a>
  <a href="/logout" class="btn btn-outline-light">Sign out</a>
</nav>