<link rel='stylesheet' href='/stylesheets/navbar.css' />
<nav class="navbar fixed-top navbar-expand navbar-dark bg-dark">
  <div class="collapse navbar-collapse">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="/">Home</a>
      <a class="nav-item nav-link" href="/database">Database</a>
      <a class="nav-item nav-link" href="/panel">Panel</a>
      <a class="nav-item nav-link" href="/data-entry">Data Entry</a>
      <a class="nav-item nav-link" href="/help">Help</a>
    </div>
  </div>
  <a id="profile" href="/profile" class="btn btn-outline-light">Profile</a>
  <a href="/logout" class="btn btn-outline-light">Sign out</a>
</nav>