<!-- Component of notes form elements for editor -->
<div class="form-row notes-header">
    <h5 class="pt-1 mr-2"><strong>Notes</strong></h5>
    <i class="fas fa-plus-circle fa-lg mt-2 text-danger add-note"></i>
</div>

<div class="form-row pt-1">
    <label for="note0">Note:
        <i class="far fa-times-circle fa-lg remove remove-note pl-5 text-danger" title="Press to remove note."></i>
    </label>
    <textarea class="form-control" id="note0" name="note0" rows="5"></textarea>
</div>