<div id="table-loader">
        <div class="load-container">
            <div class="loader">Loading...</div>
        </div>
        
        <p>Table(s) are being extracted. This may take a moment...</p>
    </div>
