<div>
    <div class="container-fluid pt-1 pb-1 px-0">
            <div class="d-flex flex-row align-items-center justify-content-center">
                <div class="card text-center border-dark">
                    <div class="card-header bg-danger">
                        <h3 class="card-title text-warning">Editor</h3>
                    </div>
    
                    <div class="card-body tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="insert" role="tabpanel" aria-labelledby="insert-tab">
                            
                            <form method="POST" action="/data-entry/tool/insert" class="align-top mx-auto text-left" id="insert-form">
                                <%- include('basic-attributes-form-group'); %>
                                <% if (hasTables === true) { %>
                                    <div class="form-row tables-header">
                                        <h5 class="pt-1 mr-2"><strong>Tables</strong></h5>
                                    </div>
                                    <div id="table-target">
                                    </div>

                                    <button type="button" class="btn btn-danger" id="tableToggle">Single Page Get</button>
                                    <input type="hidden" name="tableData" value="" id="table-data-input">
                                <% } else { %>
                                    <%- include('meteorites-form-group'); %>
                                <% } %>
                                <%- include('notes-form-group'); %>
                                <button type="submit" class="btn btn-warning mt-2 float-right" disabled="true" title="Validate or override to enable" id="submit-btn">Submit</button>
                                <button type="button" class="btn btn-danger mt-2 mr-3 float-right" id="validate-btn">Validate</button>
                                <button type="button" class="btn btn-danger mt-2 mr-5 float-left" id="override-btn">Override Validation</button>
                            </form>
    
                        </div>
                    </div>
                </div>
            </div>
        </div>
