<!-- Requires inclusion of font awesome component in the head of any template using this form. -->

<form method="POST" action="/data-entry/insert" class="align-top mx-auto text-left" id="insert-form">
    <div class="form-row">
        <h5 class="pt-1 pr-1 mr-2"><strong>Basic Information</strong></h5>
        <i class="fa fa-lock-open fa-lg save-basic"></i>
        <i class="fa fa-lock fa-lg edit-basic" hidden="true"></i>
    </div>
    <div class="form-row">
        <div class="form-group">
            <label for="journalName">Journal Name</label>
            <input type="text" class="form-control" id="journalName" name="journalName" required="true" placeholder="required">
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-2">
            <label for="volue">Volume</label>
            <input type="text" class="form-control" id="volume" name="volume" placeholder="optional">
        </div>
        <div class="form-group offset-md-1 col-md-2">
            <label for="issue">Issue</label>
            <input type="text" class="form-control" id="issue" name="issue" placeholder="optional">
        </div>
        <div class="form-group offset-md-1 col-md-2">
            <label for="series">Series</label>
            <input type="text" class="form-control" id="series" name="series" placeholder="optional">
        </div>
        <div class="form-group offset-md-1 col-md-2">
            <label for="pub_year">Year Published</label>
            <input type="number" class="form-control" id="pubYear" name="pubYear" required="true" min="1900" Max="2100" step="1">
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-8">
            <label for="paperTitle">Paper Title</label>
            <input type="text" class="form-control" id="paperTitle" name="paperTitle" required="true" placeholder="required"> 
        </div>
        <div class="form-group col-md-4">
            <label for="doi">DOI</label>
            <input type="text" class="form-control" id="doi" name="doi" placeholder="optional">
        </div>
    </div>

    <div class="form-row author-header">
        <h5 class="pt-1 mr-2"><strong>Author(s)</strong></h5>
        <i class="fas fa-plus-circle fa-lg add-author mt-2 text-danger"></i>
    </div>
    
    <div class="form-row">
        <div class="col-md-1">
            <i class="far fa-times-circle fa-lg remove remove-inline pt-4 text-danger" title="Press to remove author."></i>
        </div>
        <div class="form-group col-md-3">
            <label for="primaryName">Last Name or Organization</label>
            <input type="text" class="form-control" id="primaryName" name="primaryName0" required="true" placeholder="required"> 
        </div>
        <div class="form-group col-md-3">
            <label for="firstName">First Name</label>
            <input type="text" class="form-control" id="firstName" name="firstName0"> 
        </div>
        <div class="form-group col-md-2">
            <label for="middleName">Middle Name</label>
            <input type="text" class="form-control" id="middleName" name="middleName0"> 
        </div>
        <div class="form-check col-md-2">
            <input class="form-check-input" type="checkbox" id="singleEntity" name="singleEntity0">
            <label class="form-check-label" for="singleEntity">Organization</label>
        </div>
        <div class="form-group col-md-1  mt-4">
            <i class="fa fa-lock-open fa-lg save-author"></i>
            <i class="fa fa-lock fa-lg edit-author" hidden="true"></i>
        </div>
    </div>

    <div class="form-row meteorite-header" id="meteorite0">
        <h5 class="pt-1 mr-2"><strong>Meteorite</strong></h5>
        <i class="fas fa-plus-circle fa-lg add-meteorite mt-2 text-danger"></i>
    </div>

    <div class="form-row">
        <div class="col-md-1">
            <i class="far fa-times-circle fa-lg remove remove-meteorite pt-4 text-danger" title="Press to remove meteorite and all associated measurements."></i>
        </div>
        <div class="form-group col-md-4">
            <label for="bodyName">Name</label>
            <input type="text" class="form-control" id="bodyName" name="bodyName0" required="true">
        </div>
        <div class="form-group col-md-3">
            <label for="group">Group</label>
            <input type="text" class="form-control" id="group" name="group0" required="true">
        </div>
        <div class="form-group col-md-3">
            <label for="class">Class</label>
            <input type="text" class="form-control" id="class" name="class0">
        </div>
        <div class="form-group col-md-1 mt-4">
            <i class="fa fa-lock-open fa-lg save-meteorite"></i>
            <i class="fa fa-lock fa-lg edit-meteorite" hidden="true"></i>
        </div>
    </div>

    <div class="form-row">
        <h5 class="pt-1 mr-2 pl-3"><strong>Measurements</strong></h5>
        <i class="fas fa-plus-circle fa-lg add-measurement mt-2 text-danger"></i>
    </div>

    <div class="form-row">
        <div class="col-md-1">
            <i class="far fa-times-circle fa-lg remove remove-inline pt-4 text-danger" title="Press to remove measurement."></i>
        </div>        
        <div class="form-group col-md-1">
            <label for="element">Element</label>
            <input type="text" class="form-control" id="element0-0" name="element0-0" minlength="1" maxlength="3" required="true">
        </div>
        <div class="form-check-inline col-md-1">
            <input class="form-check-input" type="checkbox" id="lessThan">
            <label class="form-check-label" for="lessThan">&lt;</label>
        </div>
        <div class="form-group col-md-2">
            <label for="measurement">Measurement</label>
            <input type="text" class="form-control" id="measurement0-0" name="measurement0-0" required="true" min="0">
        </div>
        <div class="form-group col-md-1">
            <label for="deviation">Deviation</label>
            <input type="number" class="form-control" id="deviation0-0" name="deviation0-0" placeholder=" &plusmn;0" min="0">
        </div>
        <div class="form-group col-md-2">
            <label for="units">Units</label>
            <select class="form-control" id="units0-0" name="units0-0" required="true">
                <option value="wt_percent">wt%</option>
                <option value="ppm">ppm</option>
                <option value="ppb">ppb</option>
                <option value="mg_g">mg/g</option>
                <option value="ug_g">&micro;g/g</option>
                <option value="ng_g">ng/g</option>
            </select>
        </div>
        <div class="form-group col-md-1">
            <label for="technique">Technique</label>
            <input type="text" class="form-control" id="technique0-0" name="technique0-0">
        </div>
        <div class="form-group col-md-1">
            <label for="page">Page</label>
            <input type="number" class="form-control" id="page0-0" name="page0-0" min="1" required>
        </div>
        <div class="form-group col-md-1 mt-4">
            <i class="fa fa-lock-open fa-lg save-measurement"></i>
            <i class="fa fa-lock fa-lg edit-measurement" hidden="true"></i>
            <input type="hidden" id="sigfig0-0" name="sigfig0-0" value="0">
            <input type="hidden" id="convertedMeasurement0-0" name="convertedMeasurement0-0" value="0">
            <input type="hidden" id="convertedDeviation0-0" name="convertedDeviation0-0" value="0">
        </div>
    </div>

    <div class="form-row notes-header">
        <h5 class="pt-1 mr-2"><strong>Notes</strong></h5>
        <i class="fas fa-plus-circle fa-lg add-note mt-2 text-danger"></i>
    </div>

    <div class="form-row pt-1">
        <label for="note">Note:
            <i class="fa fa-lock-open fa-lg save-note"></i>
            <i class="fa fa-lock fa-lg edit-note" hidden="true"></i>
            <i class="far fa-times-circle fa-lg remove remove-note pl-5 text-danger" title="Press to remove note."></i>
        </label>
        <textarea class="form-control" id="note" name="note0" rows="5"></textarea>
    </div>
    <button type="submit" class="btn btn-warning mt-2 mr-5 float-right">Submit</button>
    <button type="button" class="btn btn-secondary mt-2 mr-5 float-right" id="save-btn">Save</button>
</form>
