<nav class="navbar fixed-top navbar-expand navbar-dark bg-dark mb-5">
  <div class="collapse navbar-collapse">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="/">Home</a>
      <a class="nav-item nav-link" href="/database">Database</a>
    </div>
  </div>
  <a href="/logout" class="btn btn-outline-light">Sign out</a>
</nav>