#row {
	font-weight: lighter;
}

#search-panel {
	margin-top: 66px;
    -webkit-box-shadow: 0px 4px 12px 0px rgba(0,0,0,0.78);
    -moz-box-shadow: 0px 4px 12px 0px rgba(0,0,0,0.78);
    box-shadow: 0px 4px 12px 0px rgba(0,0,0,0.78);
	background-color:#592651;
}

#add-remove-comp {
	margin-right: 5px;
}

#add-remove-row {
	margin-top: 8px;
}

#reset-btn {
	color: rgb(255, 255, 255);
}

#reset-btn:hover {
	color: rgb(0, 0, 0);
}

select.element {
	max-height: 3rem;
}
