<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
  <%- include('bootstrap/css'); %>
</head>
<body>
  <%- include('components/navbar_signed_in'); %>

  <h1>Welcome to Data entry.</h1>

  <%- include('bootstrap/js'); %>
</body>
</html>