<!DOCTYPE html>
<html>
  <head>
    <title>Iron Meteorite Database</title>
    <%- include('bootstrap/css'); %>
  </head>
  <body>
    <div class="container-fluid">
      <h1>ID: <%= id %></h1>
      <h1>Name: <%= name %></h1>
    </div>

    <%- include('bootstrap/js'); %>
  </body>
</html>
