<!DOCTYPE html>
<html>
  <head>
    <title>Data Entry Editor</title>
    <%- include('bootstrap/css'); %>
    <link rel='stylesheet' href='/stylesheets/editor.css' />
  </head>
  <body>
    <%- include('components/navbar_signed_in'); %>
    <div class="container-fluid pt-3 pb-4" id="top-container">
        <div class="d-flex flex-row align-items-center justify-content-center mt-2 mb-2">
            <h1>Data Entry Editor</h1>
        </div>
    </div>

    <div class="container-fluid pt-1 pb-1">
        <form method="POST" action="/data-entry/editor" enctype="multipart/form-data" class="border border-dark" id="pdf-form">
            <div class="form-group">
                <label for="filetoupload">Choose file to upload</label>
                <input type="file" id="pdf" name="filetoupload"
                    accept=".pdf">
            </div>
            <button type="submit" class="btn btn-secondary mt-2">Submit</button>
        </form>
    </div>
    
    <%- include('bootstrap/js'); %>
    <script src="/javascripts/editor.js"></script>
</body>
</html>