<!DOCTYPE html>
<html>
  <head>
    <title>User Panel</title>
    <%- include('bootstrap/css'); %>
    <link rel='stylesheet' href='/stylesheets/data-entry.css' />
  </head>
  <body>
    <%- include('components/navbar_signed_in'); %>

    <h1>Placeholder user-panel</h1>
    
    <%- include('bootstrap/js'); %>
  </body>
</html>