#bottom-container {
    background-color: #592651;
    box-shadow: 8px 8px 6px grey;
}

.h2 {
    color: #f9a000;
}

.h3 {
    color: #f9a000;
}

tr {
    background-color: white;
}

.table:hover {
    background-color: lightgray;
}


