/* ASU Style Guide Typography Styles */
body {
	font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif
} 

/* ASU Style Guide Link Styles */
a {
	border-bottom: 1px dotted #8c1d40;
	color: #8c1d40;
	text-decoration: none;
	transition: all 0.25s ease-in-out 0s;
}

a.hover, a.focus {
	border-bottom: 1px dotted #d23153;
	color: #d23153;
}