#report {
    background-color:#592651;
    box-shadow: 8px 8px 6px grey;
}

.card {
    background-color:#592651;
    box-shadow: 8px 8px 6px grey;
}
.table {
    background-color: white;
}

.thead-dark {
    background-color: lightgrey;
}

.link {
    size: 18px;
}

.label {
    color: #f9a000;
}

.entry {
    color: #f9a000;
    font-size: 26px;
    text-decoration: underline;
}

.entry:hover {
    color: white;
}

.btn-danger {
    font-size: 1.67rem;
}

.badge {
    margin: .09rem;
}

.btn-sm {
    font-size: .80rem;
}