#report {
    background-color:#8c1d40;
    box-shadow: 8px 8px 6px grey;
}

#approval {
    background-color: #8c1d40;
    box-shadow: 8px 8px 6px grey;
}
.table {
    background-color: white;
}

.thead-dark {
    background-color: lightgrey;
}

.link {
    size: 18px;
}

.label {
    color: #FFC627;
}

.entry {
    color: #FFC627;
    font-size: 26px;
    text-decoration: underline;
}

.entry:hover {
    color: white;
}

.btn-danger {
    font-size: 1.67rem;
}

.badge {
    margin: .09rem;
}