body {
	padding: 3.4rem 0 0 0;
}

form {
  width: 100%;
  max-width: 300px;
  padding: 10px;
}

#users {
  display: none;
}

.alert-danger {
	background-color: #FEEEEE;
	border-color: #FBDCD7;
	color: black;
	border-width: 3px;
}