#search-panel {
	margin-top: 3.375rem;
    -webkit-box-shadow: 0px 4px 12px 0px rgba(0,0,0,0.78);
    -moz-box-shadow: 0px 4px 12px 0px rgba(0,0,0,0.78);
    box-shadow: 0px 4px 12px 0px rgba(0,0,0,0.78);
    background-color:#592651;
}

#reset-btn {
	color: rgb(255, 255, 255);
}

#reset-btn:hover {
	color: rgb(0, 0, 0);
}

select.element {
	max-height: 3rem;
}

#additional {
	margin-left:85%;
}

.expandSearch {
	display: flex;
	align-items:center;
}

/* Padding to top of body to push content below floating panel. */

/* Bootstrap xs */
@media (max-width: 576px) { 
	#results {
		margin-top: 27.5rem;
		padding: 0;
	}
}

/* Bootstrap xs to sm*/
@media (min-width: 576px) and (max-width: 767.98px) {
	#results {
		margin-top: 21.5rem;
		padding: 0;
	}
}

/* Bootstrap greater than sm */
@media (min-width: 767.98px) { 
	#results {
		margin-top: 12.5rem;
		padding: 0;
	}
 }
