<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


    <link rel="stylesheet" href='/stylesheets/<%=sheet%>.css'>

  </head>
  <body class="body">
  <div class="container-fluid">

      <nav class="navbar navbar-expand-sm navbar-custom fixed-top">

          <a href="/" class="navbar-brand">
          <img width="55px" height="55px" src="/images/psychelogo/Icon/Color/Psyche_Icon_Color-SVG.svg" alt="Psyche Logo">
            IronDB</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCustom">
              <i class="fa fa-bars fa-lg py-1 text-white"></i>
          </button>
          <div class="navbar-collapse collapse" id="navbarCustom">
              <ul class="navbar-nav">
                  <li class="nav-item">
                      <a class="nav-link" href="#">Search</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="#">About</a>
                  </li>
              </ul>
              <span class="ml-auto navbar-text">
                  <a class="nav-item" href="#">Log In</a>
              </span>
          </div>
      </nav>

      <!-- EXAMPLE NAVBAR 
        <nav class="navbar navbar-expand-sm navbar-custom fixed-top">
        <a href="/" class="navbar-brand">
        <img width="55px" height="55px" src="/images/psychelogo/Icon/Color/Psyche_Icon_Color-SVG.svg" alt="Psyche Logo">
          IronDB</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCustom">
            <i class="fa fa-bars fa-lg py-1 text-white"></i>
        </button>
        <div class="navbar-collapse collapse" id="navbarCustom">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Active</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Dropdown
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
            </ul>
            <span class="ml-auto navbar-text">Text</span>
        </div>
    </nav> -->

      
<div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-10 ">
        <div class="div-top-pad"> </div>
    </div>
    <div class="col-sm-1"></div>
</div>
<div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-10 top-links">
        <p>
            <a href="/">Dark Purple </a>
            &emsp13;&emsp13;&emsp13;
            <a href="/light">Bright Gold</a>
            &emsp13;&emsp13;&emsp13;
            <a href="/white">White Gold</a>
        </p>
    </div>
    <div class="col-sm-1"></div>
</div>
<div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
                <p>
                        <div class="input-group mb-3">
                                <div class="input-group-prepend ">
                                  <span class="input-group-text teleback" id="basic-addon1">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="40px" height="40px" viewBox="0 0 142.09 113.06"><title>telescope-black</title><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><rect x="41.21" y="22.24" width="43" height="54.22" transform="translate(-12.07 77.24) rotate(-58.65)"/><rect x="83.07" y="55.06" width="32.24" height="32.13" transform="translate(-13.15 118.84) rotate(-58.65)"/><rect x="109.23" y="68.9" width="25.03" height="33.12" rx="6.05" transform="matrix(0.52, -0.85, 0.85, 0.52, -14.58, 144.97)"/><polygon points="113.16 21.23 103.78 20.02 97.47 27.05 95.73 17.76 87.08 13.93 95.38 9.4 96.36 0 103.23 6.49 112.47 4.51 108.42 13.05 113.16 21.23"/><polygon points="122.25 42.01 125.67 38.35 124.59 33.45 129.13 35.58 133.45 33.04 132.84 38.01 136.58 41.34 131.66 42.29 129.66 46.88 127.23 42.5 122.25 42.01"/><rect x="83.81" y="80.78" width="6" height="32.28"/><polygon points="65.41 112.02 60.21 109.77 84.21 78.56 89.41 80.81 65.41 112.02"/><polygon points="107.58 110.96 102.14 112.84 82.03 80.12 87.48 78.24 107.58 110.96"/><polygon points="26.64 101.93 15.85 92.36 1.85 95.83 7.62 82.61 0 70.36 14.35 71.76 23.64 60.73 26.75 74.81 40.11 80.24 27.68 87.54 26.64 101.93"/><rect x="127.05" y="73.24" width="14.23" height="9.88" transform="translate(-2.4 152.09) rotate(-58.65)"/></g></g></svg>
                                        <!-- <img class="teleback" src="/images/SVG/telescope-white.svg" alt="search" height="35px" > -->
                                    </span>
                                </div>
                                <input type="text" class="form-control" placeholder="Search" aria-label="Username" aria-describedby="basic-addon1">
                              </div>
                </p>
        </div>
        <div class="col-sm-1"></div>
    </div>
<div class="row">
    &emsp;
  <div class="col-sm-1"></div>
  <div class="div-main col-sm-10">


      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ac ligula blandit, varius purus eu, pretium augue. Etiam finibus quam eget mauris hendrerit, ac convallis ligula vehicula. Praesent facilisis erat at nibh fermentum, ac gravida massa semper. Nunc non tempor sem, sed rutrum libero. Sed turpis purus, rutrum id metus sit amet, pharetra tempor metus. Aenean elementum euismod dui, ac dapibus velit molestie quis. Duis orci quam, eleifend elementum laoreet eget, aliquet in sapien. Duis vel arcu consectetur, malesuada enim a, convallis felis. Praesent tristique diam eu diam interdum, sed luctus mi vestibulum. Donec ornare faucibus purus, vitae commodo dui dignissim ac. Integer tincidunt ornare tincidunt. Donec faucibus auctor eros vitae dapibus. Aliquam et turpis diam.
      <br>
      Nullam maximus faucibus libero, non pretium ante ultricies ac. Curabitur vitae pretium velit, quis laoreet lorem. Ut in varius justo. Cras nec nulla augue. Praesent ut consectetur ex. Sed sem nibh, ornare eget gravida at, mattis et elit. Duis ut faucibus ipsum. Phasellus rhoncus, quam eget euismod laoreet, lectus lectus vulputate est, non fermentum elit velit nec quam. Vestibulum imperdiet mi eu nulla aliquet iaculis. Integer id nulla quis metus pellentesque efficitur vel vel metus. Aenean nec tellus eget nisi eleifend lacinia id vel sem. Proin eleifend urna pellentesque augue condimentum, mattis tincidunt urna sodales. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Morbi convallis est commodo tempus pretium.
      <br>
      Quisque sit amet nulla tortor. Etiam accumsan nec metus a efficitur. Nunc eleifend lobortis maximus. Etiam sit amet euismod risus, et mollis justo. Donec sem neque, sagittis non porta sed, dapibus a tortor. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Integer rutrum orci dui, sed varius ligula malesuada nec. Maecenas malesuada vestibulum elit, scelerisque maximus dolor eleifend ac. Mauris porta augue leo, id eleifend eros molestie sed. Sed vestibulum sapien dui, id pellentesque turpis fringilla a.
      <br>
      Praesent imperdiet ipsum sed diam mattis vehicula. Etiam dapibus, arcu non auctor varius, neque dolor consectetur urna, molestie fermentum nulla arcu eu libero. Suspendisse id ultrices libero. Nam in finibus tellus. Morbi interdum felis vel facilisis sagittis. Pellentesque facilisis id ante posuere facilisis. Sed suscipit quis tortor ac venenatis.
      <br>
      Aliquam nec urna eros. Donec at aliquet dolor. Fusce iaculis ligula quis tellus consectetur pulvinar. Nunc ex tellus, volutpat at tempor eu, lobortis eget quam. Integer convallis consectetur convallis. Cras fermentum egestas varius. Nunc laoreet nec libero at porta. Etiam feugiat at nibh dignissim luctus. Pellentesque nec iaculis orci. Donec bibendum mauris ut lorem tristique, non aliquet lectus ultricies. Mauris nec arcu libero. Nunc maximus purus velit, at pharetra sem accumsan vel. Quisque urna augue, egestas id tincidunt in, vulputate eu augue. Curabitur fringilla auctor nisi, eget mollis lacus sollicitudin vitae. Pellentesque iaculis, odio et maximus tincidunt, diam felis ultrices justo, rhoncus venenatis arcu tortor lacinia mi. Nulla condimentum gravida euismod.
      <br>
      Aenean sit amet faucibus ipsum. Vestibulum finibus ante ut felis ornare, et fringilla ligula volutpat. Proin consectetur mollis odio eu malesuada. Integer quam nisi, mattis eget aliquam eget, efficitur id justo. Proin efficitur sed sem ut ultricies. Ut venenatis, mi vitae sollicitudin sodales, tortor libero convallis dolor, eget pulvinar elit felis ut magna. Etiam a sapien ac justo vulputate consequat. Sed sagittis purus aliquet felis convallis ullamcorper. Sed euismod nunc non erat congue consequat a nec augue. Ut sit amet urna quis nibh iaculis aliquet a nec tellus. Nullam at arcu vitae lacus aliquam sagittis non vel elit. Vestibulum id est ultricies, sollicitudin risus non, vehicula odio. Proin et finibus neque. Donec quis arcu ac nulla facilisis venenatis porttitor ut justo. Praesent diam justo, elementum at turpis ut, ornare consequat turpis. Vestibulum ultricies nulla eu pellentesque vehicula.
      <br>
      Ut eleifend massa enim. Praesent a viverra nisl. Fusce consequat orci risus, non accumsan neque tempus ac. Donec sollicitudin imperdiet felis quis accumsan. Aenean elementum viverra augue, a semper metus viverra eget. Nullam et orci ac urna sollicitudin varius. Pellentesque faucibus erat a malesuada pretium. Aenean quis tincidunt nibh. In at pharetra ligula, a ultricies arcu. Integer sodales purus nisl. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras elementum iaculis tellus, in varius nibh elementum et. Aliquam finibus luctus dolor, nec faucibus magna viverra nec. Nam non metus ipsum.
      <br>
      In eget ante a orci ultrices commodo at vel est. Vivamus feugiat, diam a semper dapibus, lectus mi ultrices purus, eu dignissim augue neque vel justo. Proin nec mollis enim. Curabitur mattis finibus nibh, aliquam placerat purus posuere ut. Mauris nisl dolor, malesuada non faucibus sed, hendrerit quis ligula. Nulla et consectetur lectus. In et augue id eros ultrices tempor. Nam sit amet luctus diam, sed finibus nibh. Sed at erat eu eros eleifend fermentum. 
            </div>
  <div class="col-sm-1"></div>
</div>



<footer class="psychefooter fixed-bottom">
  <div class="row">
      <div class="col-sm-3">&copy; Placeholder 2018</div>
      <div class="col-sm-3">Last updated ??-??-??</div>
      <div class="col-sm-6 text-md-right">Social media buttons</div>

  </div>

</footer>
</div>
  </body>
</html>
