<!DOCTYPE html>
<html>

<head>
    <title>Analysis Technique</title>
    <%- include('bootstrap/css'); %>
</head>

<body>
    <%- include('components/navbar_signed_in'); %>

    <h1>Placeholder for analysis technique</h1>

    <%- include('bootstrap/js'); %>
</body>

</html>