<!DOCTYPE html>
<html>

<head>
    <title>Analysis Technique</title>
    <%- include('bootstrap/css'); %>
</head>

<body>
    <%- include('components/navbar_signed_in'); %>
    <div class="container col-md-7 mt-5 mb-2 pt-3 pb-2">
        <div class="row">
            <div class="col-md-4 card mr-2" id=>

                <table class="table table-borderless">
                    <thead>
                        <tr>
                            <th>Current Analysis Techniques:</th>

                        </tr>
                    </thead>
                    <tbody>
                        <% for(var i=0; i < Technique.length; i++) { %>
                        <tr>
                            <td>
                                <%= Technique[i].abbreviation %>
                            </td>
                        </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>

            <div class="col-md card ml-2">
                <div class="card-body">
                    <h5 class="card-title">Enter New Analysis Technique</h5>
                    <form action="/panel/analysis-technique" method="post" class="form-row">
                        <div class="card-text pt-2 pb-2">
                            <input class="form-control" type="text" id="new-technique">
                        </div>
                    </form>
                    <button type="button" class="btn btn-danger">Add To Database</button>
                </div>
            </div>
        </div>
    </div>
    < <%- include('bootstrap/js'); %>
</body>

</html>