<!DOCTYPE html>
<html>

<head>
    <title>Help</title>
    <%- include('bootstrap/css'); %>
    <link rel='stylesheet' href='/stylesheets/index.css' />
    <link rel='stylesheet' href='/stylesheets/help.css' />
</head>

<body>
    <% if(isSignedIn){ %>
    <%- include('components/navbar_signed_in'); %>
    <% } else { %>
    <%- include('components/navbar'); %>
    <% } %>

    <div class="container-fluid pt-3 pb-4" id="top-container">
        <div class="row">
            <div class="col-md-8 pt-4 ml-5">
                <div class="row">
                    <div>
                        <h1>Documentation</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid pt-3" id="bottom-container">
        <div>
            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-10">
                    <h5>
                        Welcome to the Iron Meteorite Database, created as a componenet of <a href="https://psyche.asu.edu/">NASA's Psyche Mission</a> and aiming to benefit the entire scientific community. As the premiere database for curated information on iron meteorites, we strive to provide the most complete and most accurate collection of meteorite data by using a mixture of natural language processing algorithms and human-guided data entry.
                    </h5>
                </div>
                <div class="col-sm-1"></div>
            </div>

            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-10">
                    <hr>
                    <center>
                        <a href="#search">Search</a>&nbsp;&nbsp;&nbsp;
                        <a href="#exportData">Export Data</a>&nbsp;&nbsp;&nbsp;
                        <% if(isSignedIn){ %>
                        <a href="#dataEntry">Data Entry</a>&nbsp;&nbsp;&nbsp;
                        <% } %>
                        <a href="#registration">Registration</a>&nbsp;&nbsp;&nbsp;
                    </center>
                    <hr>
                </div>
                <div class="col-sm-1"></div>
            </div>

            <a id="search"></a><br><br>
            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-10">
                    <h3 class="section-head">Search</h3>
                    <p class="pt-3">
                        If you know the <strong>meteorite name</strong> you are searching for, or the name of the <strong>paper</strong> or <strong>author</strong>, you can search for this on the <a href="/">landing page</a>.
                        For more advanced searches, select <a href="/database">"Enter the database"</a>.
                    </p>
                    <p>
                        <center>
                            <img src="/images/help/search2.png" alt="simple search">
                        </center>
                    </p>
                    <p>
                    	<p class="pt-3">
                    		For advanced searches, navigate to the <a href="/database">database page</a> (or click <a href="/database">"Enter the database"</a>.)
                    	</p>
                    	<p>
                        <center>
                            [insert screenshots]
                        </center>
                    </p>
                    	<h5>
                    		Search by <strong>source</strong> of meteorite study:
                    	</h5>
                    	<p>
                    		Click on the plus + button on the left to expand search fields for <strong>journal name, volume, or page number</strong> of the research paper in which the meteorite appears:
                    	</p>
                        <p>
                        <center>
                            [insert screenshots]
                        </center>
                    </p>
                        <p>
                        	Click the plus + button on the right to expand search fields for <strong>date of publication</strong> of the research paper in which the meteorite appears:
                        </p>
                        <p>
                        <center>
                            [insert screenshots]
                        </center>
                    </p>
                        <h5>
                        	Search by meteorite <strong>composition</strong>:
                        </h5>
                        <p>
                        	Click the plus + or minus - signs next to "composition" to add or remove elements in your search:
                        </p>
                        <p>
                        	<center>
                        		[insert screenshots]
                        	</center>
                        </p>
                    </p>
                </div>
                <div class="col-sm-1"></div>
            </div>

            <a id="exportData"></a><br><br>
            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-10">
                    <h3 class="section-head">Export Data</h3>
                    <p class="pt-3">
                    	If you would like to export a CSV of your search results, submit a query in the <a href="/database">database page</a>, then click the "Export" button.
                	</p>
                	 <p>
                        <center>
                            [insert screenshots]
                        </center>
                    </p>
                    <p>
                    	You will be redirected to the "Export Data" page. Verify that the listed data is what you wish to export and delete any unwanted entries.
                    </p>
                    <p>
                    	<center>
                    		[insert screenshots]
                    	</center>
                    </p>
                    <p>
                    	You can choose to export this data with separated by the analysis techniques used for each meteorite (this can result in multiple rows for each meteorite that has multiple analysis techniques), or you can choose to discard the analysis techniques and export each meteorite in a single row of the CSV.
                    </p>
                    <p>
                    	<center>
                    		[insert screenshots]
                    	</center>
                    </p>
                    <p>
                    	Once you are done customizing your export, you can click "Export Data" to download the CSV file on your local machine.
                    </p>
                    <p>
                    	<center>
                    		[insert screenshots]
                    	</center>
                    </p>
                </div>
                <div class="col-sm-1"></div>
            </div>

            <% if(isSignedIn){ %>
            <a id="dataEntry"></a><br><br>
            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-10">
                    <h3 class="section-head">Data Entry</h3>
                    <p class="pt-3">
                    	Data entry is limited to pr-eapproved users. To request an invitiation, go to <a href="/">request page</a>. If you are an approved user, log in and go to the <a href="/data-entry">data entry page</a>.
                    </p>
                    <p>
                        <center>
                            [insert screenshots]
                        </center>
                    </p>
                    <h5>
                    	Automated Tool: (recommended)
                    </h5>
                    <p>
                    	If you would like to use the automated tool to extract information from the paper, select "With PDF", choose the PDF to upload, then click "Submit".
                    </p>
                    <p>
                        <center>
                            [insert screenshots]
                        </center>
                    </p>
                    <p>
                    	In the next page, select your preferences from the list of options:
                    </p>
                    <p>
                    	<strong>Extract Attributes:</strong>
                    </p>
                    <p>
                    	Check the "Extract Attributes" box to automatically extract basic information of the research paper from the uploaded PDF (Paper title, journal name, author(s), and year published.) This works fairly well for newer publications (post 1999.) It will try its best to extract info from older publications, but will often return nothing. You are still welcome to try!
                    </p>
                    <p>
                        <center>
                            [insert screenshots]
                        </center>
                    </p>
                    <p>
                    	<strong>Extract All Tables:</strong>
                    </p>
                    <p>
                    	[Insert text description]
                    </p>
                    <p>
                        <center>
                            [insert screenshots]
                        </center>
                    </p>
                    <p>
                    	<strong>Extract Tables by Page:</strong>
                    </p>
                    <p>
                    	[Insert text description]
                    </p>
                    <p>
                        <center>
                            [insert screenshots]
                        </center>
                    </p>
                    <p>
                    	<strong>No Automatic Data Extraction:</strong>
                    </p>
                    <p>
                    	You can also choose not to extract any data automatically by checking the "No Automatic Data Extraction" box.
                    </p>
                    <p>
                        <center>
                            [insert screenshots]
                        </center>
                    </p>
                    <p>
                    	This allows you to enter data manually but with the PDF hosted next to the form for a more interactive data entry experience.
                    </p>
                    <p>
                        <center>
                            [insert screenshots]
                        </center>
                    </p>
                    <p>
                    	<strong>Please Note:</strong>
                    </p>
                    <p>
                        When selecting to use the automated tool, you will be provided with a selection of data to extract from your PDF. While we strive to have the highest levels of accuracy, that isn't always possible. Because of this, the information extracted must be verified for accuracy before submitting your entry. After submitting a paper to the Iron Meteorite Database, your information will be pending approval by the admins.
                    </p>
                    <h5>
                    	Manual Data Entry:
                    </h5>
                    <p>
                    	If you would like to enter data manually without uploading a PDF, select "Without PDF".
                    </p>
                    <p>
                        <center>
                            [insert screenshots]
                        </center>
                    </p>
                    <p>
                    	This allows you to manually enter data directly into the editor, validate your data, and submit the form for approval. You may also choose to "Save" your progress and return to it later.
                    </p>
                    <p>
                        <center>
                            [insert screenshots]
                        </center>
                    </p>
                </div>
                <div class="col-sm-1"></div>
            </div>
            <% } %>

            <a id="registration"></a><br><br>
            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-10">
                    <h3 class="section-head">Registration</h3>
                    <p class="pt-3">
                        To register as a user, navigate to the <a href="/register">registration page</a>
                        and fill out all fields.
                    </p>
                    <p>
                        <center>
                            <img src="/images/help/register2.png" alt="register user">
                        </center>
                    </p>
                    <p class="pt-1">
                        <ul>
                            <li>
                                Your username must be unique and at least 5 characters.
                            </li>
                            <li> A valid email that is currently not registered with the Iron Meteorite Database is required.</li>
                            <li>
                                Password must contain at least 1 uppercase letter, 1 lowercase letter and 1 number. The minimum length is 8 and the maximum is 25.
                            </li>
                        </ul>
                    </p>
                </div>
                <div class="col-sm-1"></div>
            </div>

            <!-- <a id="search"></a><br><br>
            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-10">
                    <h3 class="section-head">Search</h3>
                    <p>
                    </p>
                </div>
                <div class="col-sm-1"></div>
            </div> -->

        </div>
    </div>
    <%- include('bootstrap/js'); %>
</body>

</html>