<!DOCTYPE html>
<html>
  <head>
    <title>User Management</title>
    <%- include('bootstrap/css'); %>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include('components/navbar_signed_in'); %>

    <h1>Placeholder user-management</h1>
    
    <%- include('bootstrap/js'); %>
  </body>
</html>