<!DOCTYPE html>
<html>
  <head>
    <title>User Profile</title>
    <%- include('components/favicon'); %>
    <%- include('bootstrap/css'); %>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include('components/navbar_signed_in'); %>

    <div class="container-fluid">
      <h1>Placeholder user-profile</h1>
    </div>
    
    <%- include('bootstrap/js'); %>
  </body>
</html>